@import "tailwindcss";

body{
  font-family: var(--font-poppins);
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 50s) var(--animation-direction, forwards) linear infinite;
}

.section1{
  background-color: transparent;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #FFECD4 100%);
}

@media (min-width: 640px) {
.carouselsection{
  -webkit-mask-image: linear-gradient(270deg, black 40%, transparent);
  mask-image: linear-gradient(270deg, black 40%, transparent);
}
}


